{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, autem tempore. Quae maiores dignissimos officia eveniet laborum? Voluptatem voluptatibus vero expedita explicabo, beatae laboriosam ad dicta cum. Porro, aliquam enim!
        </p>
    </div>
    <div class="co-8">
        <img src="assets/halo.jpg" alt="img-thumbnail">
    </div>
</div>
{{> footer}}